<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include ('../partials/head') %>
  <title>SignIn&SignUp</title>
  <link rel="stylesheet" type="text/css" href="/css/css.css" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">


        <form action="" class="sign-in-form">
          <h2 class="title">Sign In</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username" name="usuario" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="clave" required/>
          </div>
          <input type="submit" value="Login" class="btn solid" />

        </form>

        <form action="/auth/inicio" method="post"class="sign-up-form">
          <h2 class="title">Sign Up</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="nombre" name="name" minlength="8" maxlength="40" required/>
          </div>
          
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="apellido" name="lastname" minlength="8" maxlength="40" required/>
          </div>

          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="number" placeholder="edad" name="age" min="14" max="100" required/>
          </div>

          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="number" placeholder="cedula" name="ci" min="10000000" max="100000000" required/>
          </div>

          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" name="mail" required/>
          </div>

          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="number" placeholder="numero de telefono" name="phone" min="1000000000" max="9000000000" required/>
          </div>

          <div class="sex">
            <select name="sex" id="" class="input-field"required>
              <option value="default">selecciona</option>
              <option value="f">femenino</option>
              <option value="m">masculino</option>
            </select>
          </div>

          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="password" minlegth="8" maxlength="24" required/>
          </div>

      <div class="g-recaptcha" data-sitekey="6Lf7WAAqAAAAAIpplrIyBjuZMHj_afNaZYwyf_4n"></div>
          <input type="submit" value="Sign Up" class="btn solid" />
        </form>
        
      </div>
    </div>
    <div class="panels-container">

      <div class="panel left-panel">
        <div class="content">
          <h3>New here?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio minus natus est.</p>
          <button class="btn transparent" id="sign-up-btn">Sign Up</button>
        </div>
        <img src="./img/log.svg" class="image" alt="">
      </div>

      <div class="panel right-panel">
        <div class="content">
          <h3>One of us?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio minus natus est.</p>
          <button class="btn transparent" id="sign-in-btn">Sign In</button>
        </div>
        <img src="./img/register.svg" class="image" alt="">
      </div>
    </div>
  </div>

  <script src="/css/js.js"></script>
</body>

</html>
